/* Breakpoints */
:root {
  --side-margin: 1rem;
}
@media screen and (min-width: 48em) {
  :root {
    --side-margin: 2.4375rem;
  }
}

/* Variables */
/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Globals */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: hsl(233deg, 10%, 56%);
  overflow-x: hidden;
}
@media screen and (min-width: 69.375em) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
  color: hsl(234deg, 53%, 16%);
}

/* Shared */
.container {
  width: min(100%, 69.375rem + var(--side-margin) * 2);
  margin-inline: auto;
  padding-inline: var(--side-margin);
}

.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 2.375rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  color: hsl(255deg, 100%, 100%);
  transition: 115ms background ease, 115ms box-shadow ease;
}
.cta:hover:not(.cta--secondary), .cta:focus:not(.cta--secondary), .cta:active:not(.cta--secondary) {
  box-shadow: 0 0 6.25em 6.25em rgba(255, 255, 255, 0.4) inset;
}
@media screen and (min-width: 69.375em) {
  .cta {
    padding: 1.0625rem 2rem;
    font-size: 1.125rem;
  }
}
.cta--secondary, .cta--accent {
  padding: 0.625rem 1.5rem;
}
@media screen and (min-width: 69.375em) {
  .cta--secondary, .cta--accent {
    padding: 0.875rem 2rem;
  }
}
.cta--secondary {
  background: hsl(234deg, 53%, 16%);
}
.cta--secondary:hover, .cta--secondary:focus, .cta--secondary:active {
  background: hsl(234deg, 25%, 52%);
}
.cta--accent {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}

.logo {
  width: 5.5rem;
  height: auto;
}
@media screen and (min-width: 69.375em) {
  .logo {
    width: 6.9375rem;
  }
}

.logo-link {
  line-height: 0;
}

/* Main Header */
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}
@media screen and (min-width: 48em) {
  .main-header .container {
    padding-block: 1.5rem;
  }
}
@media screen and (min-width: 48em) {
  .main-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }
}

/* Hero section */
.hero {
  padding-top: 1.375rem;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  .hero__content {
    max-width: 55ch;
  }
}
@media screen and (min-width: 69.375em) {
  .hero__content {
    max-width: 35ch;
  }
}
.hero__heading {
  font-size: 2.5rem;
  font-weight: 800;
}
@media screen and (min-width: 69.375em) {
  .hero__heading {
    font-size: 3.5rem;
  }
}
.hero__text {
  margin-top: 1.625rem;
}
@media screen and (min-width: 69.375em) {
  .hero__text {
    margin-top: 1.8125rem;
  }
}
.hero .cta {
  margin-top: 1.5rem;
}
@media screen and (min-width: 69.375em) {
  .hero .cta {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 47.9375em) {
  .hero__graphic {
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 1.625rem;
    margin-inline: calc(var(--side-margin) * -1);
  }
  .hero__graphic img {
    width: 115%;
  }
}
@media screen and (min-width: 48em) {
  .hero__graphic {
    position: absolute;
    top: -5.75rem;
    right: -18.625rem;
    z-index: -1;
  }
}
@media screen and (min-width: 69.375em) {
  .hero__graphic {
    top: -9.1875rem;
    right: -28.875rem;
  }
}
@media screen and (min-width: 48em) {
  .hero {
    position: relative;
    min-height: 39.375rem;
    padding-top: 10.6875rem;
    padding-right: 20.625rem;
  }
}
@media screen and (min-width: 69.375em) {
  .hero {
    min-height: 45.4375rem;
    padding-top: 15.75rem;
    padding-right: 0;
    overflow: unset;
  }
}

/* Courses section */
.courses {
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.courses .container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2.5rem;
}
@media screen and (min-width: 48em) {
  .courses .container {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 0.6875rem;
         column-gap: 0.6875rem;
    row-gap: 3.5rem;
  }
}
@media screen and (min-width: 69.375em) {
  .courses .container {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
    row-gap: 5rem;
  }
}
.courses .course {
  --padd-inline: 1.75rem;
  position: relative;
  padding: 3.5rem var(--padd-inline) 2rem;
  border-radius: 0.625rem;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  background-color: hsl(255deg, 100%, 100%);
}
.courses .course__icon {
  position: absolute;
  top: -1.75rem;
  left: var(--padd-inline);
}
.courses .course__title {
  font-size: 1.25rem;
  font-weight: 800;
}
@media screen and (min-width: 69.375em) {
  .courses .course__title {
    font-size: 1.5rem;
  }
}
.courses .course__text {
  margin-top: 1rem;
}
@media screen and (min-width: 69.375em) {
  .courses .course__text {
    margin-top: 1.5rem;
  }
}
.courses .course__link {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(341deg, 92%, 62%);
  transition: 115ms color ease;
}
.courses .course__link:hover, .courses .course__link:focus, .courses .course__link:active {
  color: #fba7c2;
}
@media screen and (min-width: 48em) {
  .courses .course {
    --padd-inline: 2rem;
  }
}
@media screen and (min-width: 69.375em) {
  .courses .course {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }
}
.courses .course--heading {
  padding-top: 1.5rem;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.courses .course--heading h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.3;
  color: hsl(255deg, 100%, 100%);
}
@media screen and (min-width: 48em) {
  .courses .course--heading {
    padding-top: 3.5rem;
  }
}
@media screen and (min-width: 69.375em) {
  .courses .course--heading {
    padding-top: 4rem;
  }
  .courses .course--heading h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media screen and (min-width: 48em) {
  .courses {
    margin-top: 2.4375rem;
    padding-bottom: 5.375rem;
  }
}
@media screen and (min-width: 69.375em) {
  .courses {
    margin-top: 8.375rem;
    padding-bottom: 8.75rem;
  }
}

/* Main Footer */
.main-footer {
  background-color: hsl(234deg, 53%, 16%);
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 2.25rem;
}
@media screen and (min-width: 69.375em) {
  .main-footer .container {
    padding-block: 2rem;
  }
}/*# sourceMappingURL=main.css.map */